$font-family_title: 'Righteous', cursive;
$font-family_body: 'Montserrat', sans-serif;

// colors
$dark-gray: #0E1117;
$middle-gray: #23262D;
$light-gray: #535860;

$btn-gray: rgb(216, 216, 216);

$letters-gray: #7a7d80;

$bright-color: #025464;
$orange: #E57C23;
$yellow: #E8AA42;
$repo-name: #268fce;



