@import '../../../sass/variables';

.repos-page {
  max-width: 900px;
  margin-top: 10vh;
  margin-left: 200px;

  @media (max-width: 700px) {
    margin-top: 0;
    margin-left: 0;
    max-width: 600px;

  }

  &__filtors {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid $orange;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 0;
      align-items: center;
      justify-content: center;
      width: 80vw;
      margin-left: 40px;
      place-items: center; /* Añadir esta línea */
      justify-items: center;
      
    }



    &--input {
      width: 700px;
      margin-right: 15px;
      background-color: $dark-gray;
      border: 1px solid $light-gray;
      padding: 7px;
      padding-left: 10px;
      border-radius: 5px;
      font-size: 1.2rem;
      color: white;

      @media (max-width: 700px) {
        grid-row: 1;
        grid-column: 1 / 3;
        width: 300px;
        margin-left: 25px;
        margin-right: 5px;
        
      }

    }

    &--btn {
      background-color: rgb(15, 132, 15);
      border: 1px solid rgb(15, 132, 15);
      border-radius: 8px;
      padding: 5px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      gap: 3px;
      font-size: 1.1rem;
      font-weight: 700;
      margin-left: 10px;

      @media (max-width: 700px) {
        grid-row: 1;
        width: 130px;
        margin-left: 0;
        justify-content: center;
        font-size: 1rem;
        border-radius: 5px;
        height: 34px;
      }
    }
  }

  &__match{
    font-size: 1.5rem;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;
    padding-bottom: 10px;

    @media (max-width: 700px) {
      font-size: 1rem;
      margin-left: 25%;
    }
  }

}

.ant-select-show-search:where(.css-dev-only-do-not-override-k7429z).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: $middle-gray;
  border: 1px solid $light-gray;
  height: 40px;

  @media (max-width: 700px) {
    height: 35px;
    font-size: 0.8rem;
    margin-top: 10px;
    
  }

  
}


:where(.css-dev-only-do-not-override-k7429z).ant-select-single.ant-select-show-arrow .ant-select-selection-item,
:where(.css-dev-only-do-not-override-k7429z).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: $btn-gray;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: $font-family_body;
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;

  @media (max-width: 700px) {
    font-size: 1rem;
    padding-top: 2px;
  }
}

:where(.css-dev-only-do-not-override-k7429z).ant-select .ant-select-arrow {
  color: $btn-gray;
  width: 20px;
  font-size: 1rem;
  font-weight: 600;
}

// .ant-select-dropdown{
//   background-color: rgb(198, 198, 198);
 
// }



