@import '../../../sass/variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  height: 10vh;
  margin: 0;
  border-bottom: 1px solid $light-gray;
  z-index: 1;
  background-color: $dark-gray;
  font-family: $font-family_body;

  @media (max-width: 700px) {
    position: relative;
    top: 20%;
    width: 100%;
    right: 0;
    height: 10vh;
    margin: 0;
  }

  &__nav {

    &__list {
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin-left: 420px;
      margin-top: 80px;


      &__item {
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3px;

        &--span {
          border: 1px solid $light-gray;
          background-color: $light-gray;
          padding: 0 5px;
          margin-left: 5px;
          border-radius: 50%;
          font-size: 1.2rem;

        }

      }

    }
  }
}

.active {
  // background: linear-gradient(to right, yellow, orange);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  border-bottom: 3px solid $orange;

}

a {
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
}