@import '../../../sass/variables';

.repo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid $light-gray;
  width: 100%;

  @media (max-width: 700px) {
    gap: 7rem;
    width: 80%;
    margin: 0 5px;
    margin-left: 20px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 600px;

    @media (max-width: 700px) {
      width: 40vw;
    }

    &--firstline {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      &--name {
        font-size: 2rem;
        color: $repo-name;

        @media (max-width: 700px) {
          font-size: 1.5rem;
        }

        &:hover{
          color: #75b0d5;
          opacity: 0.9;
        }
      }

      &--visib {
        font-size: 1.1rem;
        color: $letters-gray;
        border: 1px solid $light-gray;
        border-radius: 15px;
        padding: 2px 6px;
        font-weight: 600;

        @media (max-width: 700px) {
          font-size: 0.8rem;
        }
      }
    }

    &--secondline {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
      color: $letters-gray;
      gap: 20px;

      @media (max-width: 700px) {
        font-size: 0.8rem;
      }

      &--lenguaje {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        @media (max-width: 700px) {
          font-size: 0.8rem;
        }

        &--color {
          width: 15px;
          height: 15px;
          border-radius: 100%;

          @media (max-width: 700px) {
            width: 10px;
            height: 10px;
          }
        }
      }

    }

  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: end;


    &--btn {
      width: 100px;
      background-color: $middle-gray;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: 8px 0;
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;
      color: $btn-gray;

      @media (max-width: 700px) {
        width: 80px;
        height: 30px;
      }


    }

    &--hr {
      width: 200px;
      margin-top: 25px;
      border-color: green;

      @media (max-width: 700px) {
        width: 100px;
      }
    }
  }
}

.icon {
  font-size: 1.5rem;
}