@import '../../../sass/variables';

.sidebar__nav {
  position: fixed;
  width: 350px;
  height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    position: relative;
    height: 10%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 25px;
    margin-top: 20px;
  }

  &--img {
    border-radius: 100%;
    width: 300px;
    margin-left: 15%;
    margin-top: 18%;
    border: 1px solid $light-gray;

    @media (max-width: 700px) {
      width: 80px;
      height: 80px;
      margin: 0;
      grid-column: 1;
    }

  }

  &--span {
    margin: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    width: 250px;
    margin-left: 15%;
    color: rgb(200, 247, 220);

    @media (max-width: 700px) {
      margin: 0;
      margin-left: 15px;
      font-size: 1.1rem;
      grid-column: 2;

    }
  }

  &--follow {
    margin: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    width: 250px;
    margin-left: 15%;
    color: rgb(163, 163, 163);
    display: flex;
    flex-direction: row;
    gap: 5px;
   

    @media (max-width: 700px) {
      margin: 0;
      margin-left: 15px;
      margin-bottom: 10px;
      font-size: 1rem;
      grid-column: 2;

    }
  }

  &--location{
    margin: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    width: 250px;
    margin-left: 15%;
    color: rgb(163, 163, 163);
    display: flex;
    flex-direction: row;
    gap: 5px;

    @media (max-width: 700px) {
      margin: 0;
      margin-left: 15px;
      margin-top: 5px;
      grid-column: 2;
      font-size: 1rem;

    }

    
  }

  &--btn {
    background-color: $middle-gray;
    border: 1px solid $light-gray;
    border-radius: 7px;
    padding: 7px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 300px;
    margin-left: 15%;
    margin-top: 10px;
    color: rgb(163, 163, 163);

    @media (max-width: 700px) {
      width: 80px;
      height: 28px;
      margin: 0;
      align-items: center;
      border-radius: 5px;
      font-size: 0.9rem;
      grid-column: 1;
    }

    &:hover {
      background-color: $light-gray;
      border-color: $repo-name;
      color: white;
    }

  }

}

.icon-follow{
  color:white;
  font-size: 1.4rem;

  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

.follow{
  color:white;
  font-size: 1.2rem;
  font-weight: 600;

  @media (max-width: 700px) {
    font-size: 1.1rem;
  }
}

.icon-location{
  color:white;
  font-weight: 600;
  font-size: 1.4rem;
}