.basic-layout__main {
  position: relative;
  top: 45px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  padding-bottom: 80px;

  @media (max-width: 700px) {
    width: 80vw;
    margin-left: 0;
    width: 100vw;
  }

  &--content {
    width: 100%;

    @media (max-width: 700px) {
      margin-left: 0;
      width: 100vw;
    }
  }

}